body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    background-color: pink;
    text-align: center;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h3{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }